<ul class="nav-bar" [style.background-color]="theme.Color60Bold" [style.color]="theme.Color10Normal">
  <li><i class="icon-Back x-large" [style.color]="theme.Color10Normal" (click)="Back()"></i></li>
  <li><i class="icon-Home x-large" [style.color]="theme.Color10Normal" (click)="GoToHomePage()"></i></li>
  <li><i class="icon-Add x-large" [style.color]="theme.Color10Normal" (click)="Add()"></i></li>
  <li><i class="icon-Comment x-large" [style.color]="theme.Color10Normal" [routerLink]="'/comments/' + parentId"></i><span>{{commentCount | CountControl}}</span></li>
</ul>
